{% load static %}
<!-- footer starts -->
<div class="container-fluid footerside" id="services">
    <div class="footer mt-3">
        <div class="row justify-content-center">
            <div class="col-10 col-md-3">
              <img src="{% static '' %}img/istockphoto-136297196-170667a.jpg" alt="">
                <h1 class="pol">WILBERLAND INSTITUTE</h1>
                <p>Knowledge for Service</p>
            </div>

            <div class="col-10 col-md-3 social">
              <h5>Connect With Us</h5>
              <ul class="list">
                  <li class="list-item mb-2 mt-3"><a href=""><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                  <li class="list-item mb-2"><a href="btn"><i class="fa-brands fa-twitter"></i>  Twitter</a></li>
                  <li class="list-item mb-2"><a href="btn"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                  <li class="list-item mb-2"><a href="btn"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
                  <li class="list-item mb-2"><a href="btn"><i class="fa-brands fa-google-plus"></i> Google-plus</a></li>
                  <li class="list-item mb-2"><a href=""><i class="fa-brands fa-youtube"></i> Youtube</a></li>
              </ul>
            </div>
            <div class="col-10 col-md-3">
                <h5 class="pol">Quicklinks</h5>
                <ul class="list-inline">
                    <li class="list-inline mb-2 mt-4"><a href=""><i class="fa-solid fa-angle-right"></i></a>  About</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Admission</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Research</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  News</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Internet Request</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Site Map</li>
                </ul>
            </div>
            <div class="col-10 col-md-3">
                <h5 class="pol">Portals</h5>
                <ul class="list-inline">
                    <li class="list-inline mb-2 mt-4"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Waeup.Kofa</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Undergraduate Portal</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Post-Graduate Portal</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Foundation Programmes</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Academic Programmes</li>
                    <li class="list-inline mb-2"><a href=""><i class="fa-solid fa-angle-right"></i></a>  Executive Programmes</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

  <div class="footer2">
    <p class="text-center pt-3 pb-2">Copyright (c) 2023, Wilberland Institutes ICTU/CRPU     |     Designed by Prof Wilberforce(ICTU WEB UNIT)</p>
  </div>
</div>
  <!-- footer ends -->