{% extends 'base.html' %}

{% load static %}

{% block title %} {{details.title}}{% endblock title %}

{% block header %}  {% include 'header.html' %} {% endblock header %}

{% block carousel %}  {% include 'carousel.html' %} {% endblock carousel %}

{% block content %}
<<div class="container avata">
  <div class="row justify-content-center">
    <h2 class="text-center">Profile_update</h2>
    <div class="col-12 col-md-5">
      <img src="{{profile.pix.url}}" alt="">
      <ul class="list-unstyled mt-5">
        <li class="mb-3"><a href="{% url 'index' %}" class="btn w-75 btn-outline-primary">Home</a></li>
        <li class="mb-3"><a href="{% url 'profile' %}" class="btn w-75 btn-outline-primary">Profile</a></li>
        <li class="mb-3"><a href="{% url 'profile_update' %}" class="btn w-75 btn-outline-primary">Profile Update</a></li>
        <li class="mb-3"><a href="{% url 'quiz' %}" class="btn w-75 btn-outline-primary">Quiz subject</a></li>
        <li class="mb-3"><a href="{% url 'password' %}" class="btn w-75 btn-outline-primary">password change</a></li>
      </ul>    
    </div>
    <div class="col-12 col-md-7">
        <div class="cform">
          <div class="ccform">
            <form action="{% url 'profile_update' %}" method= 'POST' enctype="multipart/form-data">
              {% csrf_token %}
              {{update.as_p}}
              <div>
                <a href="profile.html" class="btn btn-primary">update</a>
              </div>  
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block contact %} {% include 'contact.html' %} {% endblock contact %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}
